.genericTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 130px;
  /* margin-top: 150px; */
  font-family: "Ailerons-Typeface", "Righteous","AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;

  color: rgb(200, 60, 60);

  text-align: center;
}

.genericByLine {
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  font-family: "Ailerons-Typeface","Righteous", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  text-align: center;
  text-align: center;
  width: 92%;
}

@media (max-width: 1324px) {
  .genericTitle {
    font-size: 90px;
  }
  .genericByLine {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
      sans-serif;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .genericTitle {
    font-size: 54px;
    margin-bottom: 30px;
    margin: 8px auto;
    transform: translateY(-100px);
  }
  .genericByLine {
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;
    font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
      sans-serif;
    text-align: center;
    transform: translateY(-100px);
  }
}
/* @media (max-width: 500px) {
 .genericTitle {
    font-size: 35px;
  }

    .genericByLine {
  font-size: 16px;

  
}
} */
/* @media (max-width: 385px) {
  .genericTitle {
    font-size: 30px;
  }

      .genericByLine {
  font-size: 14px;

  
}
} */
