.genericTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 130px;
  /* margin-top: 150px; */
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;

  color: rgb(200, 60, 60);
}

.genericByLine {
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  text-align: center;
}


@media (max-width: 1024px) {
 
  .genericTitle {
    font-size: 40px;
    margin-bottom: 30px;
    margin:14px auto
  }
  .genericByLine {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  font-family: "Ailerons-Typeface", "AquireBold-8Ma60", Helvetica, Arial,
    sans-serif;
  text-align: center;
}


  
}
@media (max-width: 470px) {

}
@media (max-width: 340px) {
  .genericTitle {
    font-size: 40px;
  }
}
